.comment-container {
  padding: 12px;
  background: rgba(222,222,222)
}

.content {
  padding: 6px;
  background: rgba(102, 102, 102, .6);
  margin-bottom: 12px;
  min-height: 60px;
}

.border-content {
  border-left: solid white 10px;
  padding: 6px;
  margin-bottom: 12px;
}

.level-none {
  border-color: #EEEEEE;
}

.level-warn {
  border-color: #FFE0B2;
}

.level-info {
  border-color: #BBDEFB;
}

.level-error {
  border-color: #FF7043;
}