.comment-container {
  padding: 12px;
  background: rgba(222,222,222)
}

.content {
  padding: 12px;
  background: #EEEEEE;
  min-height: 90px;
  position: relative;
}

.border-content {
  /* border-left: solid white 10px; */
  padding: 12px;
  display: flex;
  align-items: center;
}

.level-none {
  border-color: #EEEEEE;
}

.level-warn {
  border-color: #FFE0B2;
}

.level-info {
  border-color: #BBDEFB;
}

.level-error {
  border-color: #FF7043;
}